<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="components/jquery.mobile-1.2.0/jquery.mobile-1.2.0.css">
    <link rel="stylesheet" href="styles/main.css">

    <!-- build:js scripts/scripts.js -->
    <script src="components/underscore/underscore.js"></script>
    <script src="components/jquery-1.8.2/index.js"></script>
    <script src="components/jquery.mobile-1.2.0/jquery.mobile-1.2.0.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <!--<script src="components/jquery-mobile-angular-adapter-1.2.1-SNAPSHOT/index.js"></script>-->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/punt_browser.js"></script>
    <!-- endbuild -->
  </head>
  <body data-ng-app="puntSpotter">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

  <div data-ng-controller="PuntBrowser">
    <section id="browse" data-role="page" data-theme="a" class="punt-browser">
      <header data-role="header"> 
        <h1>Norfolk Punts</h1>
      </header>
      <div data-role="content">
        <ul data-role="listview" data-inset="true">
          <li data-ng-repeat="punt in punts">
            <a data-ng-href="#view" ng-click="choosePunt(punt)">
              <img data-ng-src="{{punt.image_data_uri}}"/>
              <h2>{{punt.name}}</h2>
              <p>{{punt.builder.name}}</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
  
    <section id="view" data-role="page" data-theme="a" class="punt-viewer">
      <header data-role="header"> 
        <h1>{{punt.name}}</h1>
      </header>
      <div data-role="content">
        <h2>{{punt.name}}</h2>
      </div>
    </section>
  </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
